/**
 *
 * @description Widget styles
 *
 * @author Bina Commerce      <https://www.binacommerce.com>
 * @author C. M. de Picciotto <cmdepicciotto@binacommerce.com>
 *
 */

/**
 *
 * @note Common styles
 *
 */
& when (@media-common = true) {
    /**
     *
     * @note Popup
     *
     */
    .catalog-contact-form-popup {
        pointer-events: auto;

        /**
         *
         * @note Form
         *
         */
        .contact-form-widget-container {
            /**
             *
             * @note Input field
             *
             */
            .input-field {
                display        : flex;
                justify-content: space-between;
                flex-direction : column;
                margin         : 2% 0;

                /**
                 *
                 * @note Label
                 *
                 */
                label {
                    order     : 1;
                    flex-basis: 15%;
                }

                /**
                 *
                 * @note Input
                 * @note Textarea
                 *
                 */
                input, textarea {
                    order: 2;
                }
            }
        }
    }
}
